.THIS {
}

.THIS td{
    text-align:center;
}

.THIS .cell div{
    float:left;
    padding:0.2rem;
    margin:0 4%;
    width:41%;
    z-index:10;
    position:relative;
    
}

.THIS .abss{
    width:20px;
    height:20px;
    border-radius:3px;
    background:#CFEBFE;
}

.THIS .abss_absence{
    width:20px;
    height:20px;
    border-radius:3px;
    background:#425c5a;
}

.THIS .legend{
    margin-top:1rem;
}

.THIS .ll span{
    float:left;
}

.THIS {
}

.THIS td{
    text-align:center;
    padding:0 !important;
    height:28px !important;
}

.THIS .cell{
	height:28px;
}

.THIS .token{
	position:absolute;
	z-index:5;
	border-radius:5px;
	left:80px;
	box-shadow:3px 3px 5px silver;
	cursor:pointer;
}

.THIS.semainetype{
	position:relative;
}

.THIS .semainetype{
	position:relative;
}

.THIS .type_dispo{
	background-color:#cfebfe;
}

.THIS .type_abs{
	background-color:#425c5a
}

.THIS .cell div{
    float:left;
    padding:0.2rem;
    margin:0 4%;
    width:41%;
    z-index:10;
    position:relative;
    
}

.THIS .abss{
    width:20px;
    height:20px;
    border-radius:3px;
    background:#CFEBFE;
}

.THIS .abss_absence{
    width:20px;
    height:20px;
    border-radius:3px;
    background:#425c5a;
}

.THIS .legend{
    margin-top:1rem;
}

.THIS .ll span{
    float:left;
}